<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.MonsterMapper">

    <!-- 모든 Monster 조회 -->
    <select id="getAllMonsters" resultType="com.example.board.entity.MonsterList">
        SELECT SEQ, NAME, NICKNAME, TYPE, WEAK
        FROM MONSTER
    </select>

    <select id="getMonster" resultType="com.example.board.entity.Monster">
        SELECT *
        FROM MONSTER
        WHERE SEQ = #{seq}
    </select>

    <!-- 몬스터 등록 -->
    <insert id="insertMonster" parameterType="com.example.board.entity.Monster">
        INSERT INTO MONSTER (NAME, IMG, BODY)
        VALUES (#{name}, #{img}, #{body})
    </insert>

    <!-- 몬스터 수정 -->
    <update id="updateMonster" parameterType="com.example.board.entity.Monster">
        UPDATE MONSTER
        SET NAME = #{name},
            IMG = #{img},
            BODY = #{body}
        WHERE SEQ = #{seq}
    </update>

    <!-- 몬스터 삭제 -->
    <delete id="deleteMonster" parameterType="int">
        DELETE FROM MONSTER
        WHERE SEQ = #{seq}
    </delete>
</mapper>