<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.PartyMapper">
    <!--파티 리스트-->
    <select id="getPartyList" resultType="com.example.board.entity.Party">
        SELECT *
        FROM PARTY
    </select>

    <!-- 게시글 등록 -->
    <insert id="insertParty" parameterType="com.example.board.entity.Party">
        INSERT INTO PARTY (ID, TITLE, BODY, REG_DATE)
        VALUES (#{id}, #{title}, #{body}, NOW())
    </insert>

    <!--게시글 수정-->
    <update id="updateParty" parameterType="com.example.board.entity.Party">
        UPDATE PARTY
        SET TITLE = #{title},
            BODY = #{body}
        WHERE SEQ = #{seq}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteParty" parameterType="int">
        DELETE FROM PARTY
        WHERE SEQ = #{seq}
    </delete>
</mapper>